<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script>
        $(document).ready(function() {
            $('#not_matching').show();
            $('#cocktail_input').hide();
            $('#matching').hide();

            // $('#myTab a').click(function (e) {
            //   e.preventDefault()
            //   $(this).tab('show')
            // })

            var input_app_title = $('#cocktail_input').text();
            search_data(input_app_title);

        });

        function search_data(input_app_title) {
            $.get('/load', (data) => {
                $(data).each(function(i) {
                    var app_title = this.app_title;
                    if(input_app_title == app_title){
                        $('#not_matching').hide();
                        $('#matching').show();

                        $("#blend").prepend("<div class='item'></div>");

                        $("#cocktail_title").text(this.app_title);
                        $("#cocktail_contents").text(this.contents);
                        $("#cocktail_date").text(this.date);

                        if(this.app_color == 'color1') {
                            $('#cocktail_body').css("background-color", "red");
                        }
                        if(this.app_color == 'color2') {
                            $('#cocktail_body').css("background-color", "green");
                        }
                        if(this.app_color == 'color3') {
                            $('#cocktail_body').css("background-color", "blue");
                        }

                        if(!this.app_function1) {
                            $('#cocktail_tab_function1').remove();
                        }
                        if(!this.app_function2) {
                            $('#cocktail_tab_function2').remove();
                        }
                        if(!this.app_function3) {
                            $('#cocktail_tab_function3').remove();
                        }

                        return;
                    }
                });
            });
        }
    </script>
    <style>
    #cocktail_title {
        margin-top: 30px;
        font-size: 36px;
        text-align: center;
    }
    #cocktail_date {
        font-size: 10px;
        text-align: right;
    }

    </style>
</head>

<body id="cocktail_body">
    <p id="cocktail_input"><%= app_title %></p>
    <div id="not_matching">
        <h1>NOT MATCHING</h1>
    </div>
    <div id="matching">
        <div class="container">
            <div class="row">
                <div class="panel panel-success col-xs-offset-1 col-xs-10" id="cocktail_title">
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary col-xs-offset-1 col-xs-10" id="cocktail_contents">
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info col-xs-offset-6 col-xs-5" id="cocktail_date">
                </div>
            </div>
            <div role="tabpanel">
                <div class="row">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="col-xs-offset-1 col-xs-3 cocktail_tab_functions" id="cocktail_tab_function1"><a href="#cocktail_tab_contents_function1" aria-controls="cocktail_tab_contents_function1" role="tab" data-toggle="tab">Function1</a></li>
                        <li role="presentation" class="col-xs-3 cocktail_tab_functions" id="cocktail_tab_function2"><a href="#cocktail_tab_contents_function2" aria-controls="cocktail_tab_contents_function2" role="tab" data-toggle="tab">Function2</a></li>
                        <li role="presentation" class="col-xs-3 cocktail_tab_functions" id="cocktail_tab_function3"><a href="#cocktail_tab_contents_function3" aria-controls="cocktail_tab_contents_function3" role="tab" data-toggle="tab">Function3</a></li>
                    </ul>
                </div>
                <div class="tab-content" id="cocktail_maincontents">
                    <div role="tabpanel" class="tab-pane" id="cocktail_tab_contents_function1">
                        <h1>Here is Function 1!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui tortor, gravida nec ex ut, malesuada malesuada tortor. Donec feugiat, lacus quis semper consectetur, risus lacus faucibus quam, nec mollis leo felis id orci. Vestibulum volutpat cursus mollis. Cras molestie lacinia orci, et facilisis sem iaculis ut. Phasellus posuere elit libero, id congue nunc accumsan non. Ut eleifend dolor diam, sit amet porta urna luctus eget. In dapibus, lacus vel imperdiet finibus, ligula urna elementum purus, sit amet accumsan lorem lorem sit amet augue.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cocktail_tab_contents_function2">
                        <h1>Here is Function 2!</h1>
                        <p>Proin interdum neque ac mauris pretium, quis lacinia quam ultrices. Nunc a ultrices lacus. Nunc vehicula semper tempor. Sed sit amet iaculis eros. Integer maximus velit a velit pellentesque condimentum. Aliquam euismod vel urna vel mattis. Nulla sodales eu tellus vitae porta. Quisque odio sem, accumsan eu velit id, viverra sodales libero. Sed pharetra viverra orci quis elementum. Donec lacinia, lorem nec porttitor tristique, dui lorem interdum erat, quis rhoncus velit erat ut augue. Aenean vitae dictum purus.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cocktail_tab_contents_function3">
                        <h1>Here is Function 3!</h1>
                        <p>Sed vitae tempus nisi. Etiam ornare, arcu dictum cursus auctor, erat neque lobortis dolor, eget maximus erat odio quis odio. Integer quis lectus metus. Mauris lobortis ipsum vitae mauris egestas volutpat. Vivamus vel consequat tellus. Fusce dignissim arcu eu tristique laoreet. Pellentesque aliquam metus at elementum malesuada. Cras ornare, dui et pretium vestibulum, quam diam vestibulum lectus, at viverra nunc tellus eu nulla. Nullam id pharetra magna. Ut id risus placerat massa tempus pulvinar. Morbi finibus mauris aliquet nibh suscipit, in varius purus interdum. Vivamus et odio sapien. In tempus sem in odio elementum placerat quis quis odio. Donec suscipit, nisl nec fermentum cursus, enim purus volutpat odio, ac gravida ipsum justo quis risus.</p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <% include ../partials/body_script %>
</body>

</html>
