<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <script>
            var author = 'testauthor';

            var load = null;
            var write = null;
            var modify = null;
            var del = null;

            $(document).ready(function() {
                //작성된 메모 목록을 로드합니다.
                var load = function() {
                    $.get('/load', function(data) {
                        $("#memo").empty();

                        $(data).each(function(i) {
                            var id = this._id;

                            $("#memo").prepend("<div class='item'></div>");

                            $("#memo .item:first").append("<div class='author'><b>" + this.author + "</b> (" + this.date +
                                ")&nbsp;&nbsp; | <span class='text_button modify'>MODIFY</span> | <span class='text_button del'>DELETE</span></div>");
                            $("#memo .item:first").append("<div class='contents " + id + "'>" + this.contents + "</div>");

                            //각 메모 내용들은 수정 버튼을 눌렀을 때 편집을 위한 textarea가 생성되도록 처리하고, 이 textarea에서 수정을 마친 뒤 엔터 키를 치게 되면 수정 요청을 발생시킵니다.
                            $("#memo .item:first .modify").click(function(evt) {
                                var contents = $("#memo ." + id).html();
                                $("#memo ." + id).html("<textarea id='textarea_" + id + "' class='textarea_modify'>" + contents + "</textarea>");

                                //엔터키를 처리하는 부분입니다.
                                $("#textarea_" + id).keypress(function(evt) {
                                    if ((evt.keyCode || evt.which) == 13) {
                                        if (this.value != "") {
                                            modify(this.value, id);

                                            evt.preventDefault();
                                        }
                                    }
                                });
                            });

                            //삭제 버튼을 눌렀을 때에 대한 이벤트 콜백함수를 지정합니다.
                            $("#memo .item:first .del").click(function(evt) {
                                del(id);
                            });
                        });
                    });
                };

                //메모 수정 요청을 처리하는 부분입니다.
                var modify = function(contents, id) {
                    var postdata = {
                        'author': $("#author").val(),
                        'contents': contents,
                        '_id': id
                    };

                    $.post('/modify', postdata, function() {
                        load();
                    });
                };

                //메모 쓰기 요청을 처리하는 부분입니다.
                var write = function(contents) {
                    var postdata = {
                        'author': $("#author").val(),
                        'contents': contents
                    };

                    $.post('/write', postdata, function() {
                        load();
                    });
                };

                //메모 삭제 요청을 처리하는 부분입니다.
                var del = function(id) {
                    var postdata = {
                        '_id': id
                    };

                    $.post('/del', postdata, function() {
                        load();
                    });
                };

                //화면 상단에서 새로운 메모를 작성하고 엔터키를 쳤을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                $("#write textarea").keypress(function(evt) {
                    if ((evt.keyCode || evt.which) == 13) {
                        if (this.value != "") {
                            write(this.value);

                            evt.preventDefault();

                            $(this).val("");
                        }
                    }
                });

                //쓰기 버튼을 눌렀을 때 쓰기 요청을 발생시키기 위한 부분입니다.
                $("#write_button").click(function(evt) {
                    write($("#write textarea").val());
                });

                load();
            });
        </script>
</head>

<body>
    <div id='main'>
        <div id='title'>Online Memo Example</div>
        <div id='write'>
            <div class='left'>
                <input id='author' class='author' type='text' value='TestUser' />
            </div>
            <div class='right'>
                <textarea></textarea>
                <br />
                <input id='write_button' type='button' value='WRITE' />
            </div>
        </div>
        <div id='memo'>
            <div class='item'>
            </div>
        </div>
    </div>
    <% include ../partials/body_script %>
</body>
</html>
